.characters {
    margin:0 auto;
    width: 80vw;
}

.allsort {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    font-size: 16px;
    background-color: rgb(255, 247, 247);

}

.charas {
    margin: 0 auto;
    border-top:1px solid;
    display: flex;
    flex-wrap: wrap;
}

.chara {
    margin:8px;
    border:1px solid;
    border-radius: 10px;
    background-color: #FEE;
    padding: 3px;
    color:#633;
    text-decoration: none;
}