.component-allcharacters {
    margin:0 auto;
    width: 80vw;
}

.characters {
    margin-top: 8px;
}

.grouping-type {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    font-size: 16px;
    background-color: rgb(255, 247, 247);
}

.group__characters {
    margin: 0 auto;
    border-top:1px solid;
    display: flex;
    flex-wrap: wrap;
}

.character {
    margin:8px;
    border:1px solid;
    border-radius: 10px;
    background-color: #FEE;
    padding: 3px;
    color:#633;
    text-decoration: none;
}