.component-bychara {
    width:80vw;
    margin: 0 auto;
}

.component-bychara > h1 {
    font-size: max(3vw,30px);
}

.component-bychara > h2 {
    font-size: max(1.2vw,12px);
    margin : 5px auto;
}

.component-bychara >  p {
    font-size: max(1.8vw,18px);
    margin: 0;
}

.bychara-tweets{
    display: flex;
    flex-wrap: wrap;
}