.component-header {
  padding: 0px;
  position: relative;
  background-color: #EF7DB6;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display:flex;
  font-size: 20px;
}

.main > img {
  height: 46px;
  margin: 0;
}
.main {
  text-align: left;
  font-size: 28px;
  margin: auto auto auto 0;
  height: 46px;
}

.sub {
  margin: auto 0;
  border-right:1px solid;
  padding: 4px;
}

.end{
  border:none;
  margin: auto 0;
  padding: 4px;
}

.link {
  color: #333;
  text-decoration: none;
}