.component-header {
    padding: 0px;
    position: relative;
    background-color: #EF7DB6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display:flex;
    justify-content: space-between;
  }
  
  img {
    height: 46px;
    margin: 0;
  }
  .main {
    text-align: left;
    font-size: 28px;
    margin: auto 0;
    height: 46px;
  }

  .links {
    font-size:20px;
    margin: 0;
    height: 46px;
  }

  .sub {
    margin: auto 0;
    border-right:1px solid;
  }

  .end{
    border:none;
    margin: auto 0;
  }

  a :link, a :visited, a :hover, a :active {
    color: #333;
    text-decoration: none;
  }