.component-tweets {
    width: 80vw;
}

.twitter {
    display:flex;
    flex-wrap: wrap;
    border-top:1px solid;
}

.Days {
    margin: 0 auto;
}

.Days > p {
    font-size: 2vw;
    text-align: left;
}