.component-tweets {
    width: 80vw;
    margin:0 auto;
}

.twitter {
    display:flex;
    flex-wrap: wrap;
    border-top:1px solid;
}

.Days {
    margin: 0 auto;
}

.Days > p {
    font-size: min(2vw,20px);
    text-align: left;
}