.App {
  text-align: center;
  background-color: #ffdbed;
  min-height: 100vh;
}

.App-header {
  background-color: #ffdbed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.twitter {
  display:flex;
  flex-wrap: wrap;
  border-top:1px solid;
}

.Days {
  width:80vw;
  margin: 0 auto;
}

.Days > p {
  font-size: 2vw;
  text-align: left;
}

